@model IEnumerable<UserDoctorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row justify-content-between">
    <partial name="~/Views/Shared/_SearchBar.cshtml" />
    <div class="col-2">
        <input type="number" placeholder="Results Per Page" id="ResultsPerPage" name="ResultsPerPage" class="form-control"/>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearsOfExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="DataTable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialization)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearsOfExperience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Doctors?page=@ViewData["Previous"]&resultsPerPage=@ViewData["ResultsPerPage"]" class="btn btn-primary" id="Prev">Prev</a>
<a href="/Doctors?page=@ViewData["Next"]&resultsPerPage=@ViewData["ResultsPerPage"]" class="btn btn-primary" id="Next">Next</a>
@section Scripts{

    <script>
        $("#ResultsPerPage").change(evt => {
            document.querySelector("#Next").href = document.querySelector("#Next").href.split("&")[0] + `&resultsPerPage=${evt.target.value}`
            document.querySelector("#Prev").href = document.querySelector("#Prev").href.split("&")[0] + `&resultsPerPage=${evt.target.value}`
        })

        $("#searchForm").submit(evt => {
            evt.preventDefault();
            if ($("#key").val() != "") {
                const key = $("#key").val();
                $.ajax({
                    url: `/Doctors/Search/${encodeURI(key)}`,
                    success: (response) => {
                        renderData(response.data);
                    },
                    error: (error) => {
                        console.log(error);
                    }
                });
            }
        });

        const renderData = (result) => {
            $("#DataTable").html("");

            result.forEach(data => {
                var markup = `
                        <tr>
                            <td>#ID</td>
                            <td>#Name</td>
                            <td>#Specialization</td>
                            <td>#YearsOfExperience</td>
                            <td>#Number</td>
                            <td>
                                <a href="/Doctors/Edit/#ID">Edit</a> |
                                <a href="/Doctors/Details/#ID">Details</a> |
                                <a href="/Doctors/Delete/#ID">Delete</a>
                            </td>
                        </tr>`
                    .replaceAll("#ID", data.id)
                    .replace("#Name", data.name)
                    .replace("#Specialization", data.specialization)
                    .replace("#YearsOfExperience", data.yearsOfExperience)
                    .replace("#Number", data.number);

                $("#DataTable").append(markup);
            });
        }
    </script>
}