@model IEnumerable<CasePaperViewModel>
@{
    ViewData["Title"] = "Home Page";
}


<h1>Active Cases</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @{
                        if (item.ForSelf == true)
                        {
                            @Html.DisplayFor(modelItem => item.SelfName)

                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.PatientName)

                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>